.badge{
    border-radius: 20px;
    background-color: red;
    color: white !important;
    margin-left: 2px;
}
/* .navbar{
    position: fixed ;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 9;
} */